@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

$left-bg-color: rgba(87, 84, 236, 0.7); 
$right-bg-color: rgba(43, 43, 43, 0.8); 
$left-btn-hover: rgba(87, 84, 236, 1);
$right-btn-hover: rgba(28, 122, 28, 1);

$hover-width: 75%;
$other-widht: 25%;

$speed: 1000ms;

*{
    box-sizing: border-box;   
}

body{
    font-family: 'Ubuntu';
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

h1{
    font-size: 3rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn{
    position: absolute;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: #fff solid 0.2rem;
    width: 15rem;
    padding: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #333;
    position: relative;
    width: 100%;
    height: 100%;
}

.split{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;

    
}

.split.left{
    left: 0;
    background: url('images/ps5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left .btn:hover{
    background-color: $left-btn-hover;
    border-color: $left-btn-hover;
}

.split.left::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $left-bg-color
}

.split.right{
    right: 0;
    background: url('images/xbox.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $right-bg-color
}

.split.right, .split.left, .split.right::before, .split.left::before{
    transition: all $speed ease-in-out;
}

.split.right .btn:hover{
    background-color: $right-btn-hover;
    border-color: $right-btn-hover;
}

.hover-left .left{
    width: $hover-width;
}

.hover-left .right{
    width: $other-widht;
}

.hover-right .right{
    width: $hover-width;
}

.hover-right .left{
    width: $other-widht;
}

@media(max-width: 800px){
    h1{
        font-size: 1.5rem;
        top: 30%;
    }

    .btn{
        padding: 1.2rem;
        width: 12rem;

    }
}

